Appium-Python-Client==0.50
Appium-UIAutomation==0.1.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
Cython==0.29.16
idna==2.9
logzero==1.5.0
python-dotenv==0.13.0
requests==2.23.0
selenium==3.141.0
urllib3==1.25.8
XlsxWriter==1.2.8
goto-statement==1.2